{% extends "block.html.twig" %}
{#
/**
 * @file
 * Default theme implementation for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 *
 * @ingroup themeable
 */
#}
{% block content %}
  <div class="container mx-auto my-2">
    {% if site_logo %}
      <a class="inline-flex items-end" href="{{ path('<front>') }}" rel="home">
        <img class="mr-2" src="{{ site_logo }}" alt="{{ 'Home'|t }}" fetchpriority="high" />
        <span>
          {% if site_name %}
            <span class="block">
              {{ site_name }}
            </span>
          {% endif %}
          <span class="block text-sm">
            {{ site_slogan }}
          </span>
        </span>
      </a>
    {% endif %}
  </div>
{% endblock %}
